*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --standard-blue: #003399;
    --standard-yellow: #FFEE93;
    --standard-green:#009B3A;
    --standard-white:white;

    --larger-font: 2rem;
    --large-font: 1.75rem;
    --medium-font: 1.5rem;
    --small-font: 1.25rem;
    --smaller-font: 1rem; 
    --tiny-smaller-font: 0.75rem;
}

/* Formating Header and menu starting */
.header-container{
    display: flex;
    align-items:end;
    justify-content: space-between;
    background-color: var(--standard-blue);
}

.header-title-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.comp_nav {
	display: flex;
	flex-direction: column;
	list-style: none;
    align-items: center;
    background-color: black;
    
} 
.comp_nav_a{
    display: none;
    flex-direction: row;
    justify-content: center;
	text-align: center;
    align-items: center;
	text-decoration: none;
	color:var(--standard-yellow);
    height: 40px;
    width: 100%;
    font-size: var(--medium-font);
}


.comp_nav_a:hover {
    color: var(--standard-blue); 
    background-color: var(--standard-yellow);
    font-weight: 700;
} 

.active{
	background-color: black;
	box-shadow: 0 0 5px var(--standard-white);
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}

.open a {
	display: flex;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
	align-self: start;
    font-size: var(--larger-font);
	border: 0px;
	background: none;
	color: var(--standard-white);
}

#menu::before {
	content: "\2630";
}

#menu.open::before {
	content: "\2716";
}
/* Formating the bussines logo text */
#large_text{
    font-size: var(--medium-font);   
}
#small_text{
    font-size: var(--smaller-font);
}
#business_name{
    display: flex;
    flex-direction: column;
    color: var(--standard-white);
}
/* Ending formating logo text */

/* Ending formating header/menu */

/* Formatting footer */

.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--standard-blue);
    padding: 10px;
    color: var(--standard-white);
}

.footer-heading{
    font-size: var(--smaller-font);
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: auto;
    padding: 5px;

}

.footer-container p {
    font-size:var(--tiny-smaller-font);
}
.footer-container p span{
    font-size:var(--tiny-smaller-font);
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre os ícones */
    padding: 20px;
    

}
  
.social-icons a img {
    border-radius: 10px;
}

/* Formatting a hero */
.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../images/rio-hero.webp') no-repeat center center/cover;
}

.cta-button {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:var(--standard-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--small-font);
}

.cards {
    display: grid;
    gap: 1rem;
    padding: 15px;
}
  
.card {
border: 3px solid #ddd;
padding: 1rem;
text-align: center;
}

.card img:hover {
transform: scale(1.1);
transition: transform 0.3s;
}


.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }
.card8 { grid-area: card8; }

.justified {
  text-align: justify; /* Alinha o texto de forma justificada */
  font-size: small;
}

.overlay {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fica fixo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.mensage-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.mensage-box p {
    margin-bottom: 15px;
}

.mensage-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.mensage-box button:hover {
    background-color: #0056b3;
}

@media (min-width: 320px) and (max-width: 640px) {
    .cards {
      grid-template-areas:
          "card1"
          "card2"
          "card3"
          "card4"
          "card5"
          "card6"
          "card7"
          "card8";
        grid-template-columns: 1fr;
    }
  }