body {
    margin: 0;
    font-family: Arial, sans-serif;
}
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
ul {
  list-style-type: none;
  padding-left: 20px;    /* Adiciona espaço para os marcadores */
  margin: 0;
  text-align: left;      /* Alinha o texto à esquerda */
}
li {
  text-align: left;      /* Garante alinhamento dos itens */
}
li::before {
  content: "✔"; /* Adiciona o sinal de check */
  color: green; /* Escolha a cor do check */
  font-size: 1.2em; /* Ajusta o tamanho do check */
  margin-right: 10px; /* Espaçamento entre o check e o texto */
}
h1 {
  width: 100%; /* Ocupa toda a largura */
  padding-top: 10px;
  padding-left: 10px; /* Alinhamento à esquerda */
  padding-bottom: 10px;
  box-sizing: border-box; /* Inclui padding no cálculo */
  font-size: var(--large-font); /* Ajusta o tamanho da fonte */
  color: var(--standard-blue);
}
#select-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--standard-blue);
}
#select-option select{
  font-size: var(--small-font);
  margin-left: 10px;
  width: 220px;
  height: 50px;
}
#detail-image-container {
  flex: 2 1 66.66%; /* 2/3 da largura */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}
#detail-image-container img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.cards {
  flex: 1 1 33.33%; /* 1/3 da largura */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.card {
  background-color: var(--standard-white);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.action{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.service-button{
  height: 30px;
  background-color: var(--standard-blue);
  color: var(--standard-white);
  font-size: var(--smaller-font);
}

.summarycard {
  width: 100%;
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  margin: 0 auto;
}

.summarycard  h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center; /* Alinha o título à esquerda */
}

.info {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
}

.info label {
  width: 90px;
  font-weight: bold;
  color: #555;
  text-align: left; /* Garante alinhamento à esquerda */
}

.info span {
  text-align: left; /* Garante alinhamento do texto à esquerda */
  color: #333;
}

#detail{
  padding: 10px;
  text-align: justify; 
  font-size: var(--small-font);
}

#lbtrailSelect{
font-weight: bolder;
font-size: var(--medium-font);
}

@media (max-width: 640px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .image-container, .cards {
    flex: none;
    width: 320px;
  }
  .comp_nav_a{
    display: flex;
    width: 130px;
    
}
}