body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
h1{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: var(--standard-blue);
}

.container {
    margin-left: 15px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:invalid:required,
input[type="email"]:invalid:required,
input[type="tel"]:invalid:required,
select:invalid:required {
    border-left-color: red;
    border-width: 5px;
}

select:valid:required {
    border-left-color: green;
    border-width: 5px;
}

input[type="text"]:invalid:required + label::after,
input[type="email"]:invalid:required + label::after,
input[type="tel"]:invalid:required + label::after,
select:invalid:required + label::after {
    content: " *";
    color: red;
}
input:required {border-left-width: 5px; border-left-color: #d70000;}
input:focus {border-left-width: 5px; border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

#btnsubmit {
    background-color: var(--standard-blue);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-size: var(--medium-font);
}

#btnsubmit:hover {
    background-color: #4cae4c;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
}

.overlay-content h3 {
    margin-top: 0;
    color: #5cb85c;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        margin: 10px;
        padding: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .overlay-content {
        padding: 20px;
    }

    .overlay-content h3 {
        font-size: 18px;
    }

    .overlay-content p {
        font-size: 14px;
    }
}