
@media (min-width: 640px) and (max-width: 1024px)  {
    .comp_nav{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        background-color: black;
        border: 1px solid #ccc; /* Define a borda */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
        padding: 10px; /* Espaçamento interno */
    }
    .comp_nav_a{
        display: flex;
        width: 105px;
        
    }
    .footer-section{
        flex-direction: row;
        justify-content: space-around;
    }
    #menu{
        display: none;
    }
    .cards {
        grid-template-areas:
          "card1 card2"
          "card3 card4"
          "card5 card6";
        grid-template-columns: 1fr 1fr;
      }
}


@media (min-width: 1025px)  {
  .cards {
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
    grid-template-columns: 1fr 1fr 1fr;
  }
}