:root{
  --primaryfont: Arial, sans-serif;
  --secondaryfont: Georgia;
}

body {
    font-family: var(--primaryfont);
    background-color: #ffffff; /* White */
    color: #000000; /* Black */
}
header {
  background-color: #0000ff; /* Blue */
  color: #ffffff; /* White */
  padding: 1rem;
  text-align: center;
}
section {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000000; /* Black border */
}
.purpose {
  background-color: #00ff00; /* Green */
  color: black;
}
.scenarios {
  background-color: #ffff00; /* Yellow */
  color: #000000;
}
footer {
  background-color: black; /* Blue */
  color: #ffffff; /* White */
  text-align: center;
  padding: 1rem;
}
#home-img{
  max-width: 80vw;
}

.blue {
  background-color: blue;
  border: solid 1px black;
}

.green {
  background-color: green;
  border: solid 1px black;
}
.yellow{
  background-color: yellow;
  border: solid 1px black;
}
.white{
  background-color: white;
  border: solid 1px black;
}
.black{
  background-color: black;
  border: solid 1px blue;
}
.square {
  display: inline-block;
  width: 10px; /* Tamanho do quadrado */
  height: 10px;
  margin-right: 8px; /* Espaço entre o quadrado e o texto */
}