.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card h3 {
    margin: 8px 0;
}
.card p {
    margin: 8px 0;
}
.card input {
    width: 50px;
}
.cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cart table {
    border-collapse: collapse;
    width: 90%; /* Ajuste para ocupar quase toda a largura da tela */
    max-width: 1200px; /* Largura máxima */
}
.cart th, .cart td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.cart th {
    background-color: #f2f2f2;
}

#cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finalize-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.finalize-button button{
    width: 200px;
    height: 30px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--small-font);
}
@media (min-width: 768px) {
    .container {
        justify-content: space-between;
    }
    .card {
        flex: 1 1 calc(25% - 32px);
        margin: 16px;
    }
}