*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --specialcolor: #003399;
    --high-contrast-text-color: #FFEE93;
    --special-button-color:#009B3A;
    --very-large-font: 2.5rem;
    --larger-font: 2.2rem;
    --large-font: 2rem;
    --medium-font: 1.2rem;
    --small-medium-font: 1.1rem;
    --small-font: 0.8rem;
    --smaller-font: 0.5rem; 
}

main {
    display:grid;
    grid-template-columns: auto;
    padding-top: 10px;
    justify-items: center; /* Centralização horizontal */
    width: 100vw;
    background-color: #f8f9fa; /* Fundo suave */
}
span {
    color: var(--high-contrast-text-color);
    font-size: var(--medium-font);
    width: 25vw;
}
nav{
    background-color: var(--specialcolor);
    padding: 2px;
    font-size: var(--medium-font);
}

h1 {
    width: 80%;
	text-align: left;
	font-size: var(--small-medium-font);
	color: var(--specialcolor);
}



/* Defining the font to be used on the website */
.open-sans-font {
    font-family: "Open Sans", system-ui;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

#header-image{
    height: 10vw;
    width: 10vw;
}

/* Stylin small view navigation */
#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
	align-self: start;
    font-size: var(--large-font);
	border: 0px;
	background: none;
	color: var(--high-contrast-text-color);
}

#menu::before {
	content: "\2630";
}

#menu.open::before {
	content: "\2716";
}

.comp_nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #b62828;
}

.comp_nav_a{
	display: none;
    box-sizing: border-box;
	text-align: center;
    align-items: center;
	text-decoration: none;
	color: wheat;
    height: 30px;
}

.comp_nav_a:hover {
    
    background-color: var(--high-contrast-text-color);
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.header-container{
    display: flex;
    align-items:end;
    justify-content: space-between;
    background-color: var(--specialcolor);
}
.header-title-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}


/* Start of nav styling */


/* Formating navigation component */

.active{
	background-color: black;
	box-shadow: 0 0 10px var(--high-contrast-text-color);
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}

.section-text {
    text-align: center; /* Centraliza o texto internamente */
    padding: 20px;
    background: #fff; /* Fundo branco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 10px; /* Bordas arredondadas */
    
    width: 80%; /* Largura adaptativa */
}

.section-text h2 {
    margin: 0 0 10px 0; /* Espaço abaixo do título */
    font-size: var(--medium-font);
    color: #333;
}

.section-text p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

.button-container {
    padding-top: 20px;
    display: flex; /* Usa Flexbox para alinhar os botões */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 15px; /* Espaçamento entre os botões */
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #ddd;
}



/* Styling the footer section */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--specialcolor);
    color: var(--high-contrast-text-color);
    height: 90px;
    padding: 20px;
}
.footer-container p {
    font-size:var(--small-font);
}
.footer-container p span{
    font-size:var(--small-font);
}

.img_footer{
    width: 15px;
    height: auto;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.form-container1{
    border-top: 1px solid black;
}

/* End of nav styling */

/* End of header styling */

/* Hero styling */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height:40vh;
    background-image: url('../images/rio-de-janeiro.webp'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: top;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    position: relative;
  }

  .hero button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color:var(--specialcolor);
    color: white;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .header-container {
      flex-direction: column; /* Alinha os elementos em coluna em dispositivos móveis */
      align-items: flex-start;
    }

    .comp_nav {
      width: 100%; /* Faz o nav ocupar toda a largura */
      justify-content: center; /* Centraliza os links de navegação */
      margin-top: 1rem;
    }
}