main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "cards"
        "sidebar";
    grid-template-columns: 1fr;
}
.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}
.sidebar {
    grid-area: sidebar;
}


@media (min-width: 641px) and (max-width: 1024px) {
    main {
        grid-template-areas:
            "cards sidebar";
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1025px) {
    main {
        grid-template-areas:
            "cards sidebar";
        grid-template-columns: 3fr 1fr;
    }
}