main {
    display:flex;
    flex-direction: column;
}
h1{
  margin-left: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que fique acima do conteúdo */
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.message-area {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.overlay.show {
  visibility: visible; /* Torna visível */
  opacity: 1; /* Mostra com animação */
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
      grid-template-columns: 1fr;
      padding: 10px;
  }
  
.card {
border: 3px solid #ddd;
padding: 1rem;
text-align: center;
}

.card img:hover {
transform: scale(1.1);
transition: transform 0.3s;
}


.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }
.card8 { grid-area: card8; }

.justified {
  text-align: justify; /* Alinha o texto de forma justificada */
  font-size: small;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .cards {
      grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px)  {
  .cards {
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 .";
    grid-template-columns: 1fr 1fr 1fr;
  }
}