@media (min-width: 500px) {
    
    span {
        color: var(--high-contrast-text-color);
        font-size: var(--very-large-font);
    }
    #menu {
		display: none; /* hide hamburger button */
	}
    .comp_nav{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width:40vw;
        height: 40px; 
        background-color: black;
        
    }
    .comp_nav_a{
        display: flex;
        align-items: center;
        color: wheat;
        text-decoration: none;
        background-color: black;
    }

}