@media (min-width: 500px) {
    .container{
        flex-direction: row;
    }
   
    #menu {
		display: none; /* hide hamburger button */
	}
    .comp_nav{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width:40vw;
        height: 40px; 
        background-color: black;
        border: 1px solid #ccc; /* Define a borda */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
        padding: 10px; /* Espaçamento interno */
        margin-bottom: 5px;
    }
    .comp_nav_a{
        display: flex;
        align-items: center;
        color: wheat;
        text-decoration: none;
        background-color: black;
    }
    h1{
        font-size: 2rem;
    }

    

}